{% load static %}


<html lang="en">
<head>
<meta charset="UTF-8">


    <title>{% block title %} Learning Centers  {% endblock title %}</title>
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->

<style>
        img{
        width:200px;
        height:200px;
        }
</style>
</head>
<body>
<h1>Learning Centers</h1>
<a href="{% url 'home' %}">Home Page</a>


{% block content %}



{% endblock content %}

</body>

</html>
